.contenedor {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

button {
  margin-top: 15px;
  padding: 10px;
  background: #0069ff;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
}

ul {
  margin-top: 20px;
}

li {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}
